@font-face {
  font-family: "Gotham-light";
  src: url("fonts/gotham-light.otf");
}
@font-face {
  font-family: "Gotham-black";
  src: url("fonts/gotham-black.otf");
}
/* line 30, scss/_base.scss */
p {
  font: 1em "Gotham-light", sans-serif;
}

/* line 33, scss/_base.scss */
#esquerda h1 {
  font-size: 2.5em;
  font-family: "Gotham-black", sans-serif;
  text-transform: uppercase;
  color: #000;
}
/* line 34, scss/_base.scss */
#esquerda h3 {
  font-size: 1.5em;
  font-family: "Gotham-light", sans-serif;
  text-transform: uppercase;
  color: #000;
}
/* line 36, scss/_base.scss */
#esquerda div {
  padding-left: 0;
}
/* line 38, scss/_base.scss */
#esquerda div figure {
  width: 60px;
  height: 60px;
  background: #3cb54e;
  margin: 1em 0.5em;
  float: left;
}
/* line 44, scss/_base.scss */
#esquerda div figure:nth-child(1) {
  margin-left: 0 !important;
}

/* line 52, scss/_base.scss */
#direita h2 {
  font-size: 2.5em;
  font-family: "Gotham-black", sans-serif;
  text-transform: uppercase;
  color: #000;
}
/* line 57, scss/_base.scss */
#direita section p {
  font-size: 1.2em;
}
/* line 59, scss/_base.scss */
#direita section .preco span {
  color: #3cb54e;
  font-weight: bold;
  font-family: "Gotham-black", sans-serif;
}
/* line 65, scss/_base.scss */
#direita section .economize {
  text-transform: uppercase;
  color: #3cb54e;
}
/* line 66, scss/_base.scss */
#direita section .glamgirls {
  text-transform: uppercase;
  color: #ec2d73;
}
/* line 69, scss/_base.scss */
#direita section .glamgirls span {
  font-weight: bold;
  font-family: "Gotham-black", sans-serif;
}
/* line 72, scss/_base.scss */
#direita section a {
  text-align: center;
  font: 1em "Gotham-light", sans-serif;
  color: #fff;
  text-transform: uppercase;
  background: #000;
  padding: 1.5em 5.2em;
  display: block;
  float: left;
  margin-top: 1em;
}
/* line 82, scss/_base.scss */
#direita section a:hover {
  text-decoration: none;
}
/* line 88, scss/_base.scss */
#direita aside .form-group input[type="submit"] {
  text-align: center;
  font: 1em "Gotham-light", sans-serif;
  color: #fff;
  text-transform: uppercase;
  background: #000;
  padding: 1em 3em;
  display: block;
  float: left;
  margin-top: 1em;
  border: 0;
}

/* line 105, scss/_base.scss */
#outras-ofertas {
  margin-top: 2em;
}
/* line 107, scss/_base.scss */
#outras-ofertas h3 {
  font-size: 1.5em;
  font-family: "Gotham-light", sans-serif;
  text-transform: uppercase;
  color: #000;
}
/* line 108, scss/_base.scss */
#outras-ofertas div {
  padding-left: 0;
}
/* line 110, scss/_base.scss */
#outras-ofertas div div {
  text-align: center;
  margin-bottom: 3em;
}
/* line 112, scss/_base.scss */
#outras-ofertas div div figure img {
  margin: 0 auto;
}
/* line 116, scss/_base.scss */
#outras-ofertas div div:nth-child(1) {
  padding-left: 0;
}
/* line 117, scss/_base.scss */
#outras-ofertas div div:nth-child(5) {
  padding-right: 0;
}
/* line 120, scss/_base.scss */
#outras-ofertas div div hgroup h3 {
  font-size: 1.2em;
  font-family: "Gotham-black", sans-serif;
  text-transform: uppercase;
  color: #000;
}
/* line 121, scss/_base.scss */
#outras-ofertas div div hgroup h4 {
  font-size: 1em;
  font-family: "Gotham-light", sans-serif;
  text-transform: uppercase;
  color: #000;
}
/* line 124, scss/_base.scss */
#outras-ofertas div div small {
  color: #838383;
}
/* line 128, scss/_base.scss */
#outras-ofertas a {
  text-align: center;
  font: 1.2em "Gotham-light", sans-serif;
  color: #000;
  border: 1px solid #000;
  text-transform: uppercase;
  padding: 1em;
  margin: 2em auto;
  display: block;
  width: 80%;
  clear: left;
}
/* line 139, scss/_base.scss */
#outras-ofertas a:hover {
  text-decoration: none;
}

/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* line 1, scss/_md.scss */
  #outras-ofertas .col-md-15 {
    width: 20%;
  }
}
/* Large Devices, Wide Screens */
