// Arquivo base
@font-face {
    font-family: "Gotham-light";
    src: url('fonts/gotham-light.otf');
}

@font-face {
    font-family: "Gotham-black";
    src: url('fonts/gotham-black.otf');
}

$Gotham-light:"Gotham-light", sans-serif;
$Gotham-black:"Gotham-black", sans-serif;

@mixin titulo-black{
    font-family: $Gotham-black;
    text-transform: uppercase;
    color: $preto;
}

@mixin titulo-light{
    font-family: $Gotham-light;
    text-transform: uppercase;
    color: $preto;
}


// Código do projeto

p{font: 1em "Gotham-light", sans-serif;}

#esquerda{
    h1{font-size: 2.5em;@include titulo-black;}
    h3{font-size: 1.5em;@include titulo-light;}
    
    div{
        padding-left: 0;
        figure{
            width:60px;
            height: 60px;
            background: $verde;
            margin: 1em 0.5em;
            float: left;
            &:nth-child(1){margin-left: 0!important;}
        }
    }
    

}

#direita{
    h2{font-size: 2.5em;@include titulo-black;}
    
    article{}
    
    section{
        p{font-size:1.2em;}
        .preco{
            span{
                color:$verde;
                font-weight: bold;
                font-family:$Gotham-black;
            }
        }
        .economize{text-transform: uppercase;color: $verde;}
        .glamgirls{
            text-transform: uppercase;
            color: $rosa;
            span{font-weight: bold;font-family:$Gotham-black;}
        }
        
        a{
            text-align: center;
            font:1em $Gotham-light;
            color:#fff;
            text-transform: uppercase;
            background: $preto;
            padding: 1.5em 5.2em;
            display: block;
            float: left;
            margin-top: 1em;
            &:hover{text-decoration: none;}
        }
    }
    
    aside{
        .form-group{
            input[type="submit"]{
                text-align: center;
                font:1em $Gotham-light;
                color:#fff;
                text-transform: uppercase;
                background: $preto;
                padding: 1em 3em;
                display: block;
                float: left;
                margin-top: 1em;
                border: 0;
            }
        }
    }
    
}

#outras-ofertas{
    margin-top: 2em;
    h3{font-size: 1.5em;@include titulo-light;}
    div{
        padding-left: 0;
        div{
            
            figure img {margin: 0 auto;}
            text-align: center;
            margin-bottom: 3em;

            &:nth-child(1){padding-left: 0;}
            &:nth-child(5){padding-right: 0;}

            hgroup{
                h3{font-size: 1.2em; @include titulo-black;}
                h4{font-size: 1em; @include titulo-light}
            }

            small{color: #838383}
        }
    }
    
    a{    
            text-align: center;
            font:1.2em $Gotham-light;
            color:$preto;
            border: 1px solid $preto;
            text-transform: uppercase;
            padding: 1em;
            margin: 2em auto;
            display: block;
            width: 80%;
            clear: left;
            &:hover{text-decoration: none;}    
    }

}